body {
  background: linear-gradient(145.44deg, #F2F4FA 0%, #FAFBFC 100%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: transparent;
  color: #304CFD;
}

::selection {
  background: transparent;
  color: #304CFD;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

header {
  height: 316px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

header .header-img {
  background-image: url("../img/photohead.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main {
  padding: 230px 0px 25px 0px;
  position: relative;
}

main .main-area {
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
}

main .main-area .main-head {
  position: relative;
}

main .main-area .main-head .head-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .main-area .main-head .head-left .head-img-area {
  width: 162px;
  height: 162px;
  position: absolute;
  top: -70px;
  background-color: #fff;
  border: 6px solid #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 8px 24px #00000014;
          box-shadow: 0px 8px 24px #00000014;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .main-area .main-head .head-left .head-img-area img {
  height: 100%;
  width: 100%;
}

main .main-area .main-head .head-left .head-info {
  padding-left: 205px;
}

main .main-area .main-head .head-left .head-info h3 {
  color: #3B4B5E;
  font-weight: 600;
}

main .main-area .main-head .head-left .head-info p {
  color: #5E6E80;
  font-size: 16px;
  font-weight: 400;
}

main .main-area .main-head .head-left .head-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-area .main-head .head-left .head-info ul li a {
  color: #5E6E80;
  -webkit-transition: color 0.3s cubic-bezier(0.72, 0.16, 0.345, 0.875);
  transition: color 0.3s cubic-bezier(0.72, 0.16, 0.345, 0.875);
}

main .main-area .main-head .head-left .head-info ul li a i {
  font-size: 16px;
}

main .main-area .main-head .head-left .head-info ul li a:hover {
  color: #304CFD;
}

main .main-area .main-head .head-left .head-info ul li:nth-child(2) a {
  margin: 0px 15px;
}

main .main-area .main-head .head-left::before {
  content: '';
  background-color: #EBF0F2;
  position: absolute;
  right: 0;
  height: 100%;
  width: 1px;
}

main .main-area .main-head .head-right {
  padding-left: 30px;
}

main .main-area .main-head .head-right .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .main-area .main-head .head-right .contact li {
  width: 50%;
  color: #5E6E80;
  margin-bottom: 16px;
}

main .main-area .main-head .head-right .contact li .overhead {
  display: block;
  color: rgba(94, 110, 128, 0.8);
  text-transform: uppercase;
  font-size: 12px;
}

#main-body {
  margin-bottom: 20px;
}

#main-body .side-bar {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px 0px;
}

#main-body .side-bar .navigation li {
  text-align: center;
}

#main-body .side-bar .navigation li a {
  background-color: #F7F9FA;
  display: inline-block;
  color: #5E6E80;
  width: 110px;
  height: 110px;
  margin: 5px;
  border-radius: 20px;
}

#main-body .side-bar .navigation li a img {
  width: 36px;
  height: 36px;
  margin-top: 21px;
}

#main-body .side-bar .navigation li a span {
  text-transform: uppercase;
  font-weight: 500;
  display: block;
}

#main-body .side-bar .navigation li a:hover {
  color: #304CFD;
}

#main-body .side-bar .navigation li a.active {
  color: #304CFD;
}

#main-body .side-bar-sticky {
  position: fixed;
  margin-top: 20px;
  top: 0;
  width: 196px;
}

#main-body .content {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
}

#main-body .content h3 {
  font-size: 32px;
  color: #3B4B5E;
  font-weight: 600;
  position: relative;
  margin-bottom: 35px;
}

#main-body .content h3::after {
  content: '';
  background-color: #304CFD;
  border-radius: 8px;
  height: 6px;
  width: 40px;
  position: absolute;
  bottom: -18px;
  left: 13px;
}

#main-body .content h3::before {
  content: '';
  background-color: #FF965D;
  border-radius: 8px;
  height: 6px;
  width: 16px;
  position: absolute;
  bottom: -18px;
}

#main-body .content .text-area .about-me-text {
  color: #5E6E80;
}

#main-body .content h4 {
  color: #3B4B5E;
  font-weight: 600;
  margin-bottom: 24px;
}

#main-body .content .services-area .service-box {
  text-align: center;
  border: 2px solid #EBF0F2;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 24px;
}

#main-body .content .services-area .service-box:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#main-body .content .services-area .service-box img {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#main-body .content .services-area .service-box .service-name {
  font-size: 18px;
  color: #3B4B5E;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
}

#main-body .content .services-area .service-box .service-about {
  color: #5E6E80;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 8px;
}

#main-body .contact-page .contact-form .text-right {
  text-align: right !important;
}

#main-body .contact-page .contact-form input {
  background-color: #F7F9FA;
  border: 2px solid #F7F9FA;
  border-radius: 20px;
  width: 100%;
  color: #5E6E80;
  padding: 12px 24px;
  margin-bottom: 24px;
  outline: none;
}

#main-body .contact-page .contact-form label {
  font-size: 16px;
  color: #5E6E80;
  margin: 0px 0px 4px 5px;
}

#main-body .contact-page .contact-form textarea {
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #F7F9FA;
  border: 2px solid #F7F9FA;
  outline: none;
  resize: none;
  display: block;
  width: 100%;
  margin-bottom: 24px;
}

#main-body .contact-page .contact-form #send {
  border-radius: 20px;
  padding: 0px 24px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  color: #fff;
  background-image: linear-gradient(142.17deg, #3086FF 6.66%, #304CFD 91.48%);
  width: auto;
  cursor: pointer;
}

#main-body .portfolio-page .project {
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #D1D1D180;
  position: relative;
}

#main-body .portfolio-page .project:hover .overlay {
  opacity: 1;
}

#main-body .portfolio-page .project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 327.33px;
  border-radius: 20px 20px 0px 0px;
  background-color: rgba(46, 47, 54, 0.52);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  opacity: 0;
  z-index: 999;
}

#main-body .portfolio-page .project .overlay img {
  position: absolute;
  top: calc(50% - 22.5px);
  left: calc(50% - 22.5px);
  color: #fff;
  width: 45px;
}

#main-body .portfolio-page .project .project-head {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#main-body .portfolio-page .project .project-head:hover .overlay {
  opacity: 1;
}

#main-body .portfolio-page .project .project-head .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 327.33px;
  border-radius: 20px 20px 0px 0px;
  background-color: rgba(46, 47, 54, 0.52);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  opacity: 0;
  z-index: 999;
}

#main-body .portfolio-page .project .project-head .overlay img {
  position: absolute;
  top: calc(50% - 22.5px);
  left: calc(50% - 22.5px);
  color: #fff;
  width: 45px;
}

#main-body .portfolio-page .project .project-head .project-img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#main-body .portfolio-page .project .project-body {
  padding: 10px 15px;
  height: 47px;
  width: 100%;
  background-color: #F7F9FA;
  border-top: 1px solid #D1D1D180;
}

#main-body .portfolio-page .project .project-body .project-name {
  font-size: 18px;
  color: #3B4B5E;
  font-weight: 700;
}

#main-body .portfolio-page .project .project-body:hover .project-name {
  color: black;
}

#main-body .blog-page .blog {
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #D1D1D180;
}

#main-body .blog-page .blog .project-head {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

#main-body .blog-page .blog .project-head:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#main-body .blog-page .blog .project-head img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#main-body .blog-page .blog .project-body {
  padding: 15px;
  height: 105px;
  width: 100%;
  background-color: #F7F9FA;
  border-top: 1px solid #D1D1D180;
}

#main-body .blog-page .blog .project-body .project-name {
  font-size: 18px;
  color: #3B4B5E;
  font-weight: 700;
}

#main-body .blog-page .blog .project-body .project-info {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#main-body .blog-page .blog .project-body:hover .project-name {
  color: black;
}

#main-body .post-page .post-images-slider {
  position: relative;
}

#main-body .post-page .post-images-slider .my-slider {
  width: 100%;
  height: 600px;
  display: none;
}

#main-body .post-page .post-images-slider .my-slider .number-slider {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  background-color: black;
  padding: 2px 8px;
  border-radius: 20px;
}

#main-body .post-page .post-images-slider .my-slider img {
  width: 100%;
  height: 100%;
}

#main-body .post-page .post-images-slider .change-image-btn {
  position: absolute;
  top: calc(50% - 25px);
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  color: #fff;
  padding: 13px 10px;
}

#main-body .post-page .post-images-slider .change-image-btn:hover {
  background-color: black;
}

#main-body .post-page .post-images-slider .change-image-btn i {
  font-size: 20px;
}

#main-body .post-page .post-images-slider .beforeImage {
  left: 0;
  border-radius: 0px 10px 10px 0px;
}

#main-body .post-page .post-images-slider .afterImage {
  right: 0;
  border-radius: 10px 0px 0px 10px;
}

footer {
  color: #8D99A6;
  font-size: 14px;
  padding: 16px 0px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  main .main-area .main-head .head-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  main .main-area .main-head .head-left .head-img-area {
    left: calc(50% - 81px);
    top: -85px;
  }
  main .main-area .main-head .head-left .head-info {
    padding: 85px 0px 0px 0px;
  }
  main .main-area .main-head .head-left .head-info ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .main-area .main-head .head-left::before {
    height: 1px;
    width: 100%;
    bottom: -10px;
  }
  main .main-area .main-head .head-right {
    padding: 20px 0px 0px 0px;
  }
  #main-body .side-bar {
    padding: 30px;
    margin-bottom: 20px;
  }
  #main-body .side-bar .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #main-body .side-bar .navigation li a {
    margin: 0px;
  }
  #main-body .content {
    padding: 30px;
  }
}

@media only screen and (max-width: 480px) {
  main {
    padding: 75px 0px 25px 0px;
  }
  main .main-area {
    padding: 20px 15px 10px 15px;
  }
  main .main-area .main-head .head-right .contact li {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
  }
  #main-body .responsive-menu {
    position: fixed;
    bottom: 0px;
    z-index: 999;
    padding: 0px;
  }
  #main-body .responsive-menu .side-bar {
    padding: 0px 27px 0px 27px;
    border-radius: 0px;
    margin-bottom: 0px;
    -webkit-box-shadow: 0px -4px 8px -4px rgba(34, 60, 80, 0.41);
            box-shadow: 0px -4px 8px -4px rgba(34, 60, 80, 0.41);
  }
  #main-body .responsive-menu .side-bar .navigation li a {
    width: 70px;
    height: 44px;
    font-size: 11px;
    background-color: transparent;
    color: black;
  }
  #main-body .responsive-menu .side-bar .navigation li a img {
    margin-top: 10px;
  }
  #main-body .responsive-menu .side-bar .navigation li a.active {
    background-color: transparent;
    color: #304CFD;
  }
  #main-body .content {
    padding: 15px;
  }
  footer {
    margin: 20px 0px 60px 0px;
  }
}
/*# sourceMappingURL=style.css.map */